.navbar {
    background-color: #333;
    overflow: hidden;
  }
  .navbar a {
    float: left;
    display: block;
    color: white;

    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar .login, .navbar .register {
    float: right;
  }
  .navbar a:hover {
    background-color: #555;
  }
  #logo{
      widows: 25px;
      height: 25px;
  }
  .nav-link.active:hover {
    background-color: orange; /* Change the background color on hover */
    color: black; /* Change the text color on hover */
  }
  .card{
    background-color: skyblue;
  }
